*{
    margin: 0px; padding: 0px; box-sizing: border-box; color:#FFD452 ;}
/* INDEX */
.bodyindex{
    height:fit-content;
    background-image: url(/assets/MULTIMEDIA/Fondo\ Index.jpg);
    background-size: cover;
    font-family: 'Rock Salt', cursive;

}
.navproductos{
    margin-top: 10px;
    margin-bottom: 20px;
    width:100%;
    border: 5px #c7ab2e9a double;
    border-radius: 50px;
    color: #FFD452;
    font-family: 'Rock Salt', cursive;
}

.mainindex{
    margin-top: 30px;
    width: 80%;
    height: 800px;
    border: 5px #c7ab2e9a;
    text-align: center;
    background: #ffffff54;
    background: -moz-linear-gradient(-45deg, #FFFFFF54 0%, #39393954 42%, #00000054 100%);
    background: -webkit-linear-gradient(-45deg, #FFFFFF54 0%, #39393954 42%, #00000054 100%);
    background: linear-gradient(135deg, #FFFFFF54 0%, #39393954 42%, #00000054 100%);
    
}
.footerindex{
    height: min-content;
    margin-top: 50px;
    margin-bottom: 20px;
    width:100%;
    border: 5px #c7ab2e9a double;
    border-radius: 50px;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(0, 0, 0);
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.BodyProd{
    height: 1500px;
    background-image: url(/assets/MULTIMEDIA/pexels-mikhail-nilov-7573934.jpg);
    background-size: auto;
    color: #615324;
    font-family: 'Rock Salt', cursive;
    
}

.contenedoresprod{
    height: max-content;
    margin: 25px;
    border: 7px double #c7ab2e9a;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.479);
    -webkit-box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.71); 
    box-shadow: 0px 0px 50px 10px rgba(0,0,0,0.71);
}

.contenedoresprod h2{
    text-align: center;
    text-decoration:underline;
    margin-top: 10px;
}
.prod:hover{
    transform:scale(1.150);
    transition:800ms;
}

.prod{
    /* border: 5px solid black; */
    width: min-content;
    height: min-content;
    margin-top: 25px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.prod img{
    border-radius: 25px;
    margin: 5px;
    height: 120px;
    -webkit-box-shadow: 9px 13px 40px 7px rgba(207,207,207,0.61); 
    box-shadow: 9px 13px 40px 7px rgba(207,207,207,0.61);

}
.proddescripcion{
    margin: 5px;
/* border: #C7AB2E solid 5px; */
margin-bottom: 35px;
}
.proddescripcion h2 p{
    height: 25px;
}
